.App {
	text-align: center;
}

.App-header {
	background-color: #f0f4f8 ;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	color: white;
	padding-top: 2vh;
}

.login-container, .register-container {
	background: #ffffff;
	color: #145175;
	min-width: 50%;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 30vh;
}

.login-container input, .register-container input {
	display: block;
	width: 70%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
	border: 1px solid #ccc;
	text-align: left;
	background: #fdffff;
}

button {
	background-color: #2788c4;
	color: white;
	padding: 5px 10px;
	margin: 5px 0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #1d73a8;
}

.error {
	color: red;
}


.dashboard-content {
	color: #1d73a8;
}


.navbar {
	background-color: #1d73a8;
	color: white;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.nav-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-logo {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.dashboard-content {
	padding: 20px;
	}
	
	.transaction-table {
	margin-top: 20px;
	}
	
	table {
	width: 100%;
	border-collapse: collapse;
	}
	
	th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	}
	
	th {
	background-color: #f2f2f2;
	}
	